{% load static %}
  <!DOCTYPE html>
  <html lang="pt-br">
  <head>
    <title>Sigetesc</title>
    <meta charset="utf-8">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <style> .green {line-height: 2px; text-align: center} </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #17a2b8">
    <div class="container">
     <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff"><h5>Escola ABC</h5></a>
        </li><li class="nav-item">  <a class="nav-link" style="color: #ffffff">  |</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff"><h5>2021</h5></a>
        </li><li class="nav-item">  <a class="nav-link"  style="color:#ffffff">  |</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:#ffffff"><h5>Agosto</h5></a>
        </li>
      </ul>
            <a  href="#"><button  type="button" class="btn btn-light">Sair</button></a>
     </div>
    </div>
    </nav>
  {% block content %} {% endblock %}

  <script src="{% static 'vendor/jquery/jquery.slim.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  </body>
  </html>
