{% extends 'app/base.html' %}
{% block content %}
 <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-sm-3">NOME</th>
          <th style="width:2%">SÉRIE</th>
          <th style="width:2%">TURNO</th>
          <th style="width:3%">NÍVEL</th>
          <th class="col-sm-2">TRAJETO</th>
          <th style="width:2%">QUANT</th>
          <th style="width:5%">VALOR</th>
          <th style="width:8%">TOTAL</th>
        </tr>
      </thead>

      <tbody class="green">
        {% for aluno in alunos %}
             <tr>
                <td style="text-align:left">{{ aluno.nome }}</td>
                <td>{{ aluno.serie }}</td>
                <td>{{ aluno.turno }}</td>
                <td>{{ aluno.nivel }}</td>
                <td>{{ aluno.trajeto }}</td>
                <td>{{ aluno.quantidade}}</td>
                <td>{{ aluno.valor }}</td>
                <td>{{ aluno.total }}</td>
             </tr>
        {% endfor %}
      </tbody>
  </table>
  <input class="btn btn-primary" type="submit" value="Salvar">
  <input class="btn btn-primary" type="submit" value="Imprimir">
  <input class="btn btn-primary" type="submit" value="Inserir aluno" >
{% endblock %}


